body {
    background-color: rgb(119, 153, 207);
}

#container {
    max-width: 840px;
}
  
.box {
  display: inline-flex;
  margin: 2px;
  width: 32.5%;
  padding-top: 33%;
  border-radius: 10px;
  background: url(https://images-na.ssl-images-amazon.com/images/I/81m509vvPbL._SX522_.jpg);
  background-size: cover;
}