*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: teal;
}

.flex-wrapper A{
   display: flex;
   flex-direction: row;
   width: 150px;
   height: 150px;
   border: 5px dotted black;
   margin: 100px 0;
   color: black;
   justify-content: center;
   font-size: 4em;
}

.app {
    display: inline-flex;
    width: 150px;
    height: 150px;
    border: 5px dotted black;
    margin: 10px 0;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}