html {
    background-color: lightslategray;
}

h1{
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 4em;
    margin: 10px;
}

h2{
    font-family: cursive, sans-serif;
    text-align: center;
    font-size: 3em;
}

a{
    color: white;
    text-align: center
}